body { background-color: white;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 1em; }

main { /*border-style: solid;
    border-width: 1px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 1em;
    line-height: 1.5; }

nav { color: darkgray; }

#rockets { margin-right: 20px; }

.caption { color: gray;
    font-size: 0.8em; 
    margin-top: 0px; }

p { margin:0 0 0.6em; }

.clear { clear: left;
    margin-top: 15px; }

.float { float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    display: block; }

.link { font-weight: 600; }

footer { display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 0.8em;
    color: black;
    margin-top: 20px; }

header { width: 70%;
    margin-left: auto; 
    margin-right: auto; }

img { width: 100%;
    height: auto;
    /*margin-bottom: 10px;*/ }

hr { width: 70%;
    border-top: 0.5px solid rgb(150,150,150);
    margin-top: 30px; 
    margin-bottom: 30px; 
}

h1 { color: black;
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-top: 20px;
    min-width: 30%;
    max-width: 100%; }

h2 { color: black;
	text-align: center;
	font-family: Montserrat, Arial, Helvetica, serif;
	font-size: 1.7em;
    font-weight: normal;
    margin-top: 0px;
    padding-bottom: 30px; }

h3 { margin-bottom: 5px;
    margin-top: 10px;
}

#line { width: 10%;
    margin-top: 10px; 
    margin-bottom: 10px;
    color: lightgray; }

.bookmarks { text-decoration: underline;
    font-weight: 700; }

.footnotes { font-size: 0.75em;
    color: gray; }


a:link { color: black;
	text-decoration: underline;
	background-color: inherit; }
a:visited { color: darkcyan;
	text-decoration: none;
	background-color: inherit; }
a:hover { color: darkred;
	text-decoration: underline;
	background-color: inherit; }
a:active { color: rebeccapurple;
	text-decoration: underline;
	background-color: inherit; }

button { background-color: none;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}